<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NaBeSoft___Sistema_de_Facturacion.Properties.Settings.SFDBConnectionString"
            connectionString="Data Source=NETVERSITY\SQLEXPRESS;Initial Catalog=SFDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="NaBeSoft___Sistema_de_Facturacion.Properties.Settings.SFBDConnectionString"
            connectionString="Data Source=NETVERSITY\SQLEXPRESS;Initial Catalog=SFBD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>